#Destinations
    .descriptions-wrapper
        .destination
            margin-top: 1rem
            .destination-link
                text-decoration: none
                .destination-img-holder
                    .destination-img
                        width: 100%
                .destination-text
                    color: $darkBlue
                    .name
                        font-size: 25px
                        font-weight: bold
                    .description
                        font-size: 15px
            &:hover
                .destination-text
                    color: lighten($darkBlue,5%)
