*
    box-sizing: border-box
body,html 
    margin: 0
    padding: 0
    height: 100%
    font-family: 'Montserrat', sans-serif
.btn-darkBlue
    background-color: $darkBlue
    color: white !important
    border-radius: 50px
    border: none
    text-decoration: none
    transition: all 200ms
    font-weight: bold
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none 
    -ms-user-select: none
    user-select: none
    &:hover,&:focus
        background-color: darken($darkBlue,5%)
        text-decoration: none
.btn-lightGray
    background-color: $lightGray
    color: white !important
    border-radius: 50px
    border: none
    text-decoration: none
    transition: all 200ms
    font-weight: bold
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none 
    -ms-user-select: none
    user-select: none
    &:hover,&:focus
        background-color: darken($lightGray,5%)
        text-decoration: none
.btn-white
    background-color: white
    color: $lightGray !important
    border-radius: 50px
    border: 1px solid $terqwaz
    text-decoration: none
    transition: all 200ms
    font-weight: bold
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none 
    -ms-user-select: none
    user-select: none
    &:hover,&:focus
        background-color: darken($white,15%)
        text-decoration: none
.btn-darkBlue-outline
    background-color: transparent
    color: $darkBlue 
    border-radius: 50px
    border: 2px solid $darkBlue
    text-decoration: none
    transition: all 200ms
    font-weight: bold
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none 
    -ms-user-select: none
    user-select: none
    &:hover,&:focus
        background-color: $darkBlue
        color: white
        text-decoration: none
.link
    &:hover,&:focus
        color: black !important

.sticky
    position: fixed
    top: 0
    width: 100%
    box-shadow:  0px 1px 11px -4px rgba(0,0,0,0.75)

.section-header 
    color: #707070
    font-weight: bold
    text-align: center
.lcl_icon
    display: none !important

.date-input-wrapper
    position: relative
    input[type='date']
        color: transparent !important
        &+label
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: block
            pointer-events: none
            &::before
                position: absolute
                top: 50%
                left: 40px
                transform: translateY(-50%)
                color: #a0a0a0
                margin-right: 0.5em
        &[placeholder='Date']
            &+label
                &::before
                    content: 'Date' !important
        &[placeholder='From']
            &+label
                &::before
                    content: 'From' !important
        &[placeholder='To']
            &+label
                &::before
                    content: 'To' !important
        
    input[type="date"]:focus,input[type="date"]:valid
        color: #a0a0a0 !important
        &+label
            &::before
                content: "" !important
